@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&family=Ropa+Sans&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3 {
  font-family: 'Ropa Sans', sans-serif;
}

body {
  max-width: 1440px;
  margin: 0 auto;
  background-color: rgba(66, 66, 66, 1);
}

body .mainheader {
  height: 353px;
  background: url(./assets/header-background.png);
  background-repeat: no-repeat;
  background-size: 1440px 353px;
  display: flex;
  align-items: center;
}

main {
  display: flex;
  justify-content: space-evenly;
  margin-top: -49px;
}

main>article {
  display: flex;
  flex-direction: column;
  width: 484px;
  height: 624px;
  background-color: #c4c4c4;
  justify-content: space-between;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: -1px 4px 5px 0px rgba(0, 0, 0, 0.62);
  -moz-box-shadow: -1px 4px 5px 0px rgba(0, 0, 0, 0.62);
}

article>header {
  width: 100%;
  height: 73px;
  display: flex;
  align-items: center;
  justify-content: center;

}

header h2 {
  font-size: 30px;
  line-height: 32.16px;
  letter-spacing: 20%;
  text-align: center;
  color: rgba(255, 214, 0, 1);
}

.characters>header {
  background-color: rgb(83, 85, 86);
}

.details>header {
  background-color: rgb(116, 134, 135);
}

.characters>section {
  height: 503px;
  position: relative;
}

.characters>section>ul {
  margin-top: -.2rem;
}

.characters>section>ul>li {
  font-size: 24px;
  color: #FFF;
  letter-spacing: 3.6px;
  padding: .65rem 0 .65rem 1.5rem;
  /* padding-left: 1.5rem; */
}

.characters>section>ul>li:nth-of-type(odd) {
  background-color: #8e8e8e;
  color: #FFF;
}

.characters>section>ul>li:nth-of-type(even) {
  background-color: #E1DEDE;
  color: #535556;
}


.details>section {
  height: 267px;
  padding: 1rem;

}

.details>section>h2 {
  padding-bottom: .5rem;
  font-size: 30px;
  letter-spacing: 6px;
  font-weight: 600;
}

.details>section>ul>li {
  font-size: 18px;
  letter-spacing: 3.6px;
  font-weight: 500;
  line-height: 1.8rem;

}

.characters>footer {
  height: 44px;

}

.details>footer {
  position: relative;
  height: 284px;
  background: rgb(63, 203, 47);
  background: linear-gradient(180deg, #c4c4c4 18%, #8e8e8e 18%);
}

.details footer ul {
  background-color: #8e8e8e;
  height: 236px;
  width: 100%;
}

.buttons {
  height: 51px;
}

h1 {
  color: rgba(255, 214, 0, 1);
  width: 380px;
  height: 143px;
  font-size: 64px;
  line-height: 68.81px;
  letter-spacing: 15%;
  margin-left: 67px;
}

ul {
  position: relative;
}

li {
  list-style: none;
}

.loader {
  border: 14px solid #f3f3f3;
  border-top: 14px solid #4444;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: spin 2s linear infinite;
  position: absolute;
  left: calc(50% - 50px);
  top: calc(50% - 50px);
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.hidden {
  display: none;
}


footer.char-footer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.char-footer span {
  font-size: 1.375rem;
  letter-spacing: .875rem;
  /* Room for improvement with extra space on end of line */
}

img {
  width: 3rem;
  height: auto;
  margin: 1rem;
}