@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&family=Ropa+Sans&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3 {
  font-family: 'Ropa Sans', sans-serif;
}

body {
  max-width: 1440px;
  margin: 0 auto;
  background-color: rgba(66, 66, 66, 1);
}

body .mainheader {
  height: 353px;
  background: url(./assets/header-background.png);
  background-repeat: no-repeat;
  background-size: 1440px 353px;
  display: flex;
  align-items: center;
}

main {
  display: flex;
  justify-content: space-evenly;
  margin-top: -49px;
}

main>article {
  display: flex;
  flex-direction: column;
  width: 484px;
  height: 624px;
  background-color: #c4c4c4;
  justify-content: space-between;
}

article>header {
  width: 100%;
  height: 73px;
  display: flex;
  align-items: center;
  justify-content: center;
}

header h2 {
  font-size: 30px;
  line-height: 32.16px;
  letter-spacing: 20%;
  text-align: center;
  color: rgba(255, 214, 0, 1);
}

.characters>header {
  background-color: rgb(83, 85, 86);
}

.details>header {
  background-color: rgb(116, 134, 135);
}

.characters>section {
  height: 503px;
}

.details>section {
  height: 267px;
}

.characters>footer {
  height: 44px;
  h
}

.details>footer {
  height: 284px;
}

.details footer ul {
  background-color: #8e8e8e;
  height: 236px;
  width: 100%;
}

.buttons {
  height: 51px;
}

h1 {
  color: rgba(255, 214, 0, 1);
  width: 380px;
  height: 143px;
  font-size: 64px;
  line-height: 68.81px;
  letter-spacing: 15%;
  margin-left: 67px;
}

li {
  list-style: none;
}

.hidden {
  display: none;
}


footer.char-footer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.char-footer span {
  font-size: 1.375rem;
  letter-spacing: .875rem;
  /* Room for improvement with extra space on end of line */
}

img {
  width: 3rem;
  height: auto;
  margin: 1rem;
}

/* #lower.page-swapper {
  background-image: url(./assets/chevron-left.svg);
  background-size: cover;
  height: 64px;
  width: 64px;
}

#higher.page-swapper {
  background-image: url(./assets/chevron-right.svg);
  background-size: cover;
  height: 64px;
  width: 64px;
} */